joblib
pillow
piexif
pyinstaller
PyQt5==5.12.3
shortuuid
PyQtWebEngine==5.12.1
# reefscanner @ git+https://github.com/AIMS/reefscan-data-model@v0.3.0
reefscanner @ file:///C:/aa_git_root/techdev/reef_scanner_data_model/dist/reefscanner-0.3.0a0-py3-none-any.whl
pandas
smbprotocol