joblib
pillow
piexif
pyinstaller
PyQt5==5.15.5
shortuuid
PyQtWebEngine
# reefscanner @ git+https://github.com/AIMS/reefscan-data-model@v1.0.3
reefscanner @ file:///C:/aa_git_root/techdev/reef_scanner_data_model/dist/reefscanner-1.0.3.1-py3-none-any.whl
pandas
smbprotocol
fabric2
pywin32
tzlocal
boto3
oauthlib==3.1.1
requests==2.25.1
requests-oauthlib==1.3.0
pywin32==304
pywin32-ctypes==0.2.0
geopy
jwt
simplekml
shapely
alphashape
