[Desktop Entry]
# This is copied to the desktop to allow the user to start reefscan-transom.sh
# This should work in Ubuntu 24 but is untested
Version=1.0
Type=Application
Name=My Script Shortcut
Comment=Runs my custom shell script
Exec=bash -c "$REEFSCAN_HOME/reefscan-desktop-data-manager/linux_scripts/reefscan-transom.sh"
Icon=utilities-terminal
Terminal=true