name: Build

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    name: Build packages
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.8
      uses: actions/setup-python@v5
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Create version file
      run: |
        echo "build-date: $(Get-Date -Format 'yyyy-MM-dd'), version: ${{ github.ref }}" > src/resources/version.txt
      shell: pwsh
    - name: Build with pyinstaller
      run: pyinstaller reefscan-simulated.spec
    - name: Copy executable
      run: Copy-Item -Path dist/reefscan.exe -Destination dist/reefscan-deep.exe
      shell: pwsh
    - name: Create zip file
      run: |
        cd dist
        Compress-Archive -Path reefscan.exe,reefscan_deep.exe,_internal -DestinationPath reefscan-exe.zip
      shell: pwsh
    - name: Upload Release Asset
      uses: softprops/action-gh-release@v2
      with:
        files: ./dist/reefscan-exe.zip